@import "../../util/color.scss";

.main {
  width: 20rem;
  background-color: $bg-white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-notfound {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
